<!DOCTYPE html>
<html>
    <head>
        <title>MontyHall</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <h1>MontyHall</h1>
        <div class="flex-container">
            <div class="flex-item">
                <img src="/static/doors image.jpg" alt="Image 1">
            </div>
            <div class="flex-item">
                <img src="/static/doors image.jpg" alt="Image 2">
            </div>
            <div class="flex-item">
                <img src="/static/doors image.jpg" alt="Image 3">
            </div>
        </div>
    </body>
</html>