<!DOCTYPE html>
<html>
    <head>
        <title>MontyHall</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <script>
            function play() {
                window.location.href = '/play';
            }
        </script>
    </head>
    <body>
        <h1>MontyHall</h1>
        <button onclick="play()">Play Now1</button>
    </body>
    <footer>
        <h3>contact <a href="https://www.linkedin.com/in/nandanreddyp">NandanReddy</a></h3>
    </footer>
</html>